@font-face {
  font-family: OpenSans-SemiBold; /* Имя шрифта */
  src: url(../fonts/OpenSans-SemiBold.ttf); /* Путь к файлу со шрифтом */
  }

@font-face {
  font-family: OpenSans-Bold; /* Имя шрифта */
  src: url(../fonts/OpenSans-Bold.ttf); /* Путь к файлу со шрифтом */
  }

@font-face {
  font-family: OpenSans-ExtraBold; /* Имя шрифта */
  src: url(../fonts/OpenSans-ExtraBold.ttf); /* Путь к файлу со шрифтом */
  }

@font-face {
  font-family: OpenSans-Light; /* Имя шрифта */
  src: url(../fonts/OpenSans-Light.ttf); /* Путь к файлу со шрифтом */
  }